/* Briefs Dashboard — server-rendered page that displays all the briefs and includes a form to create a new one.
Requirements - Create and render at least one view using a view template and template engine. This can be a custom
template engine or a third-party engine, Weight 8%.
Use simple CSS to style the rendered views, Weight 2%.
Include a form within a rendered view that allows for interaction with your RESTful API, Weight 3%.

<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Brief.io | Briefs Dashboard</title>
        <link rel="stylesheet" href="/public/styles.css">
    </head>

    <body>

        <header>

            <img src="" alt="">

        </header>


        
    </body>

</html>